.chatInputContainer {
	text-align: center;
	border: 2px solid #73AD21;
	margin-top: 3%;
	padding: 20px;
	border-radius: 14px;
	background: #F2F2F2;
	width: 30%;
	margin-left:35%;
}

.botResponseContainer {
	text-align: center;
	border: 2px solid purple;
	margin-top: 3%;
	padding: 20px;
	border-radius: 14px;
	background: #F2F2F2;
	width: 30%;
	margin-left:35%;
}

.userResponseContainer{
	text-align: center;
	height:250px;
	Overflow-y:scroll;
	border: 2px solid orange;
	margin-top: 3%;
	border-radius: 14px;
	background: #F2F2F2;
	width: 40%;
	margin-left:30%;
	margin-bottom:0px !important;
}

ul{
	padding-left:0px !important;
}

.text:hover{
	background-color: #00FA9A;
	transition: 0.5s;
}

#btnLogout {
	margin: 8px 0;
	background-color: red;
	color: white;
	margin-left:2%;
}


#input {
	width: 65%;
}

#send {
	margin: 8px 0;
	background-color: green;
	color: white;
}

.text {
	background-color: #F2F2F2;
	padding:2%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	margin-bottom:0px !important;
}

ul {
	text-align: center;
	font-size: 100px;
	white-space: wrap;
}

body{
	background-image: url("");
	background-repeat: no-repeat;
	background-size: 100%;
}

	
button:hover {
  opacity: 0.8;
}


.chatpage {
	text-align: center;
}